body 
{
    margin: 0 auto;
    padding: 0 auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.container
{
    font-family : sans-serif ;
    width: auto ;
    background: linear-gradient(to bottom,#304d6b 0%,#2a82aa 44%,#73b8d1 82%,#c3eacf 100%);
    display: block;
    height: 750px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clear: both;
    z-index: 1;
    box-sizing: border-box;
}

#main
{
    display: block;
    margin: 0 auto;
    width: auto;
}

#footer
{
    display: none;
}

.content 
{
    display: block;
    margin: auto;
    width: auto;
    clear: both;
    min-height: 660px;
}

.contained-width
{
    max-width: 1480px;
    margin: 0 auto;
}

#header #topbar .logo {
    display: table-cell;
    width: 224px;
    vertical-align: middle;
}

#topbar
{
    display: table;
    height: 80px;
    width: 100%;
}

#navigation-ctn
{
    display: table-cell;
    vertical-align: middle;
}

.navigation
{
    background-color:transparent;
    display: block;
    float: right;
    margin-top: 1px;
    padding: 0 50px 0 0;
    box-sizing: border-box;
}

.navigation ul 
{
    padding: 0 auto;
    margin: 0 auto ; 
}

.navigation ul .nav-item
{
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

.navigation ul .nav-item a 
{
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
}

.navigation ul .nav-item a:hover 
{
    background-color: rgba(0,0,0,.1);
}

/*PANEL DE CONNEXION */

#login
{
    width: 445px;
    min-height: 445px;
    background-color: #fff;
    border-radius: 5px ;
    box-shadow: 3px 5px 10px rgba(0,0,0,.1);
    margin: 0 auto;
    padding: 50px;
    margin-top: 40px;
}

#login h3
{
    font-size: 1.75em;
    line-height: normal;
    display: block;
    color: #435661;
    font-family: 'Futura',Arial,sans-serif;
    margin: auto ;
    text-align: center;
}

#login .caption
{
    display: none;
}

#login .input input 
{
    border-radius: 3px;
    color: #000;
    padding: 15px;
    width: 285px;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    font-size: 14px;
    border: 1px solid #ccc;
    outline: none;
}

#login .input input[type="submit"]
{

    border-radius: 3px !important;
    background-color: #151515;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
    margin: 0px auto;
    margin-top: 20px !important;
    margin-bottom: 25px;
    height: 59px;
    width: 275px !important;
    display: block !important;
    border: none;
}

#login .input input[type=password] 
{

    letter-spacing: 10px;
}

#login .input input[type=password]:placeholder-shown 
{
    letter-spacing: normal;
}

#login .remember
{
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

#login .remember, #login .remember input, #login .remember label
{
    cursor: pointer;
}

#login label
{
    user-select: none;
}

#login .recovery a
{
    color: #737373;
    text-align: center;
    background-color: transparent;
    display: block;
    font-size: 15px;
    text-decoration: underline;
    margin-bottom: 25px;
}

#login .recovery a:hover
{
    text-decoration: none;
    color: #737373;
}

.alert-login
{
    width: 285px;
   	margin: auto;
    padding: 15px 20px 15px 20px;
	background-color: #f8d7da;
	color: #ce1528;
	font-size: 13px!important;
	margin-bottom: 1rem;
	border-radius: 2px;
    font-family: 'H','Trebuchet MS',Helvetica;
    margin-top: 20px ;
    text-align: center;
}

.alert-error
{
    border: 1px solid #b43942 !important;
    border-bottom: 5px solid red !important;
}

.fa-eye-slash
{
    transform: translate(1500%, -30px);
    color: #000000;
    margin-left: -24px;
    cursor: pointer ;
}

.fa-eye
{
    transform: translate(1650%, -30px);
    color: #000000;
    margin-left: -24px;
    cursor: pointer ; 
}

.error-icon[data-v-26670b92] 
{
    transform: translate(1250%, -40px);
    color: #ff4546;
    margin-left: -24px;
}

.material-icons 
{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}

/*BOX DE COOKIES */

.cookie-alert 
{
    display: block;
	position: fixed;
    text-align: center;
    bottom: 0;
    border-radius: 0px;
    background-color:rgba(76, 78, 82, 0.9);
    color:#fff;
    padding:50px;
    z-index:1000;
    width: 350px;
    right: 100px;
    height: auto;
    font-family: sans-serif, Arial;

}


.cookie-alert span
{
    float: right;
    font-size: 2em;
    cursor: pointer;
	font-weight: normal;
    margin-top: -40px;
	margin-right: -30px;
    
}

.cookie-alert .part
{
    font-weight: normal;
    margin: auto;
    padding: 10px 0px 10px 0px;
    display: block;
    font-size: 15px;
	text-align: justify;
}


.cookie-alert  .about
{
    text-decoration: none;
    color: #1973be;
}

.cookie-alert  .cookies_accept
{
    color: #fff;
    text-decoration: none;
}

/*CONTAINER PAGE ACCUEIL (LOGIN)*/
.splash
{
    clear: both;
    height: 660px;
    padding-top: 60px;
}

.row
{
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.contained-width #background-image
{
    display: table-cell;
    vertical-align: bottom;
    padding: 50px 0px;
    min-width: 935px;
}

.contained-width #login-ctn
{
    padding: 50px 0px;
    display: table-cell;
    min-width: 350px;
    vertical-align: middle;
    margin-right: 50px;
}

/*PAGE PANEL DES HYDRANTS */

#panel
{
    display: block;
    width: auto;
    margin: auto;
    min-height:690px ;
    padding-top: 25px;
}

.navigation-bar
{
    width: auto;
    display: block;
    height: 80px;
    margin-bottom: 35px;
}

.navigation-bar .add-item
{
    display: block;
    float: right;
    padding : 15px 20px ;
    background-color: #2a82aa;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
}

#panel #map-hydrant 
{
    min-height: 550px;
    max-width: 1280px;
    background-color: #eee;
    margin: 0 auto;
    display: block;
    margin-bottom: 0px;
}

@media screen and (max-width: 1480px) 
{
    .container
    {
        width: auto;
    }

    .contained-width
    {
        width: auto;
        max-width: auto;
    }

    .contained-width #background-image
    {
        display: none;
        width: 0;
    }
    
    .contained-width #login-ctn
    {
        display: block;
        margin-right: 0;
    }

    #login 
    {
        margin: 0 auto;
        display: block;
        margin-top: 40px;
    }

    #header #topbar .logo 
    {
        display: none;
        width: 0;
    }

    #navigation-ctn 
    {
        padding: 20px 0;
    }

    #topbar 
    {
        display: table;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 960px) 
{
    .navigation.is-open 
    {
        transform: translateY(0);
    }

    .navigation ul li
    {
        background-color: transparent;
		margin-left: 0px;
    }

    .navigation
    {
        width: 300px;
		transform: translateX(-100%);
		height: 100%;
        top: 0px;
        position: fixed;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
        overflow: auto;
        display: none;
    }

    #navigation-ctn 
    {
        display: block;
        height: auto;
        width: auto;
    }

    .container
    {
        width: auto;
    }

    .cookie-alert 
    {
        width: auto;
        position: fixed;
		right: 0px;
    }

    #login 
    {
        width: 405px !important;
    }

    .fa-eye-slash
    {
    transform: translate(1450%, -30px);
    color: #000000;
    margin-left: -24px;
    cursor: pointer ;
    }

    .fa-eye
    {
        transform: translate(1600%, -30px);
        color: #000000;
        margin-left: -24px;
        cursor: pointer ; 
    }

    .error-icon[data-v-26670b92] 
    {
        transform: translate(1200%, -40px);
        color: #ff4546;
        margin-left: -24px;
    }
}

@media screen and (max-width: 445px) 
{
    .container
    {
        width: 445px;
    }
}